div.nav {
  height: 18px;
  font-size: 90%;
  background-color: #f0f0f0;
  white-space: nowrap;
  line-height: 18px;
  border-bottom: 1px solid #808080;
}

div.nav ul {
  margin-top: 0px;
}

div.nav ul li {
  list-style: none;
  margin: 0px 15px;
  display: inline-block;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  color: #000
}

div.nav ul li span.seperator {
  margin: 0px .7ex 0px .7ex;
  font-size: 9px;
  color: #808080;
}
